DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,web,traefik,infra-template.drg.ink,traefik.infra-template.drg.ink
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://infra-template.drg.ink,https://traefik.infra-template.drg.ink
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
DOMAIN=infra-template.drg.ink
TRAEFIK_DASHBOARD_HOST=traefik.infra-template.drg.ink
COOLIFY_BASE_URL=https://coolify.drg.ink
COOLIFY_API_TOKEN=change-me
COOLIFY_PROJECT_UUID=
COOLIFY_ENVIRONMENT_UUID=
COOLIFY_ENVIRONMENT_NAME=production
COOLIFY_DESTINATION_UUID=
COOLIFY_APP_NAME=infra_template
COOLIFY_APP_DESCRIPTION=infra_template - Django app
COOLIFY_GIT_REPOSITORY=https://github.com/seu-usuario/infra-template
COOLIFY_GIT_BRANCH=main
COOLIFY_GIT_TYPE=public
COOLIFY_PRIVATE_KEY_UUID=
COOLIFY_BUILD_PACK=dockerfile
COOLIFY_DOCKERFILE_LOCATION=/Dockerfile
COOLIFY_BASE_DIRECTORY=/
COOLIFY_APP_PORT=8000
COOLIFY_CREATE_POSTGRES=True
COOLIFY_DATABASE_NAME=infra-template-db
COOLIFY_DATABASE_DESCRIPTION=infra_template - PostgreSQL
COOLIFY_DATABASE_IS_PUBLIC=False
COOLIFY_DATABASE_PUBLIC_PORT=5432
COOLIFY_POSTGRES_HOST=
